devel/
build/
html/
latex/

.vscode
.catkin_workspace
.catkin_tools

src/logistic_sim/experiments.txt
src/logistic_sim/rostime.txt
src/logistic_sim/paths_file.txt
src/logistic_sim/stats_file.txt
src/logistic_sim/missions_file.txt
src/logistic_sim/commands_*.txt
src/logistic_sim/commands_taskplanner.txt


src/logistic_sim/params/amcl/*.xml
*.bak
*.zip
*.csv
src/logistic_sim/results/**/*.png

!src/logistic_sim/results/**/*.py

src/logistic_sim/maps/**/robots.inc