<<?xml version="1.0"?>

<model>
  <name>ICElab room</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Antonello Contini</name>
    <email>antonello.contini@univr.it</email>
  </author>

  <description>
    Extrusion of the SLAM map of ICE laboratory
  </description>
</model>
